{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Signup Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="POST">
                            {% csrf_token %}
                            {% for message in messages %}
                           <font color="red"> <center>{{message}}</center></font>
                            {% endfor %}
                        <div class="register-form">
                            <div class="row">
                                 <div class="col-md-6">
                                    <label>First name</label>
                                    <input class="form-control" name="first_name" type="text" placeholder="First name">
                                </div>
                                 <div class="col-md-6">
                                    <label>Last name</label>
                                    <input class="form-control" name="last_name" type="text" placeholder="Last name">
                                </div>
                                <div class="col-md-6">
                                    <label>Username</label>
                                    <input class="form-control" name="username" type="text" placeholder="Username">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" name="email" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Mobile No</label>
                                    <input class="form-control" name="phone" type="text" placeholder="Mobile No">
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input class="form-control" name="password" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-6">
                                    <label>Retype Password</label>
                                    <input class="form-control" name="cpassword" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-outline-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Signup End -->
{% endblock %}