{% extends 'base.html' %}
{% load static %}
{% block title %} Product Details {% endblock %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Product Detail</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <a href="/">{{product.department}}</a>
                        <a href="/">{{product.category}}</a>
                        <span>{{product.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="{{product.picture.url}}" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-2.jpg' %}"
                             src="{% static 'img/product/details/thumb-1.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-3.jpg' %}"
                             src="{% static 'img/product/details/thumb-2.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-5.jpg' %}"
                             src="{% static 'img/product/details/thumb-3.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-4.jpg' %}"
                             src="{% static 'img/product/details/thumb-4.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{product.name}}</h3>
                    <div class="product__details__rating">
                        {% if Avg_Review != 0 %}
                        {% for _ in 1|ljust:Avg_Review %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                        <span>({{Reviews.count}} reviews)</span>
                        {% else %}
                        <h6> No Ratings Available </h6>
                        {% endif %}
                    </div>

                    {% if product.discount > 0 %}
                    <div class="product__details__price"><s class="text-secondary text-muted">Rs.{{product.price}}</s>
                        Rs.{{product.discounted_price}}
                    </div>
                    {% else %}
                    <div class="product__details__price"> Rs.{{product.price}}
                    </div>
                    {% endif %}
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                    <form action="{% url 'add_to_cart' product.slug%}" method="POST">
                        {% csrf_token %}
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" name="quantity">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn primary-btn">ADD TO CARD</button>
                        {% if product.slug in request.session.wishlist.values and request.user.is_authenticated %}
                        <a href="{% url 'remove_wishlist' product.slug %}" class="heart-icon"><span
                                class="fa fa-heart text-danger"></span></a>
                        {% else %}
                        <a href="{% url 'add_to_wishlist' product.slug%}" class="heart-icon"><span
                                class="fa fa-heart"></span></a>
                        {% endif %}
                    </form>

                    <ul>
                        <li><b>Availability</b> <span>{% if product.stock == 'in_stock' %} In Stock {% else %} Out Of Stock {% endif %}</span>
                        </li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>{{product.weight}} gm</span></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Reviews <span>({{Reviews.count}})</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>{{product.description}}</p>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam
                                    vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat,
                                    accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a
                                    pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula
                                    elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus
                                    et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam
                                    vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>
                                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed
                                    porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum
                                    sed sit amet dui. Proin eget tortor risus.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.</p>
                                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                            </div>
                        </div>
                        <div class="tab-pane mt-3" id="tabs-3" role="tabpanel">
                            {% if request.user.is_authenticated %}
                            <form method="POST" action="{% url 'add_product_review' product.slug %}">
                                {% csrf_token %}
                                <div class="product__details__tab__desc shadow-sm pd-2 mb-3">
                                    <h5>Write your review</h5>
                                    <h5 id='rt-1' class=" text-warning">1 star</h5>
                                    <input onchange="yourreview()" class="form-range my-2" id='rev-rat' type="range" max="5" min="1" value="1" name="rating">
                                    <input class="form-control mt-1" name="review" placeholder="Your review">
                                    <button type="submit" class="btn primary-btn mt-2">Submit</button>
                                    <script>
                                    function yourreview() {
                                    var x = document.getElementById("rev-rat").value;
                                    document.getElementById("rt-1").innerHTML = x + " star";
                                    }
                                    </script>
                                </div>
                            </form>
                            {% endif %}
                            {% for review in Reviews %}
                            <div class="product__details__tab__desc shadow-sm pd-2 mb-3">
                                <h5><span class="fa fa-user-circle mr-2"></span> {{review.user.username}} <small><span class="fa fa-clock-o mr-1 ml-2"></span> {{review.created_at}}</small></h5>


                                <div class="product__details__rating">
                                    {% for _ in 1|ljust:review.rating %}
                                    <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <p>{{review.review}}</p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in Related_Products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item" onclick="location.href='{% url 'product_detail' product.slug %}'">
                    <div class="product__item__pic set-bg" data-setbg="{{product.picture.url}}">
                        {% if product.discount > 0 %}
                        <div class="product__discount__percent">-{{product.discount}}%</div>
                        {% endif %}
                        <ul class="product__item__pic__hover">
                            {% if product.slug in request.session.wishlist.values and request.user.is_authenticated %}
                            <li><a href="{% url 'remove_wishlist' product.slug %}"><i class="fa fa-heart"
                                                                                      style="color:red;"></i></a></li>
                            {% else %}
                            <li><a href="{% url 'add_to_wishlist' product.slug %}"><i class="fa fa-heart"></i></a></li>
                            {% endif %}
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>

                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{product.name}}</a></h6>
                        {% if product.discount > 0 %}
                        <s class="text-muted">Rs.{{product.price}}</s>
                        <h5>Rs.{{product.discounted_price}}</h5>
                        {% else %}
                        <h5>Rs.{{product.price}}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Related Product Section End -->

{% endblock %}